/* Styles for the button */
.toggle-btn {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #0e0303;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: flex-end;
}

.toggle-btn:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #8f8282;
  border-radius: 50%;
  top: 0;
  left: 0; 
  transition: transform 0.3s ease;
}

.toggle-btn.off:before {
  transform: translateX(0);
}

.toggle-btn.on:before {
  transform: translateX(50px);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
}
.btn {
  border: none;
  background-color: blue;
  height: 5vh;
  min-width: 4vw;
  color: blanchedalmond;
  font-size: medium;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1px;
}
.tableStatus {
  padding-inline: 5px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 3px;
}
.todo,
.date,
.time,
.btn {
  height: 4vh;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin-right: 2vw;
  box-shadow: 2px 2px 4px black;
}
.todo:hover {
  border: 1px solid black;
  cursor: pointer;
}

th {
  border: 1px solid black;
}

#del,
#edit {
  border-style: none;
}
.delBtn {
  background-color: transparent;
  color: red;
  font-size: medium;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 1vmax;
  box-shadow: 1px 1px 2px black;
}
.editBtn {
  background-color: yellow;
  color: black;
  font-size: medium;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 1vmax;
  box-shadow: 1px 1px 2px black;
}

.updateBtn {
  border: none;
  background-color: green;
  color: blanchedalmond;
  font-size: medium;
  border: 1px solid black;
  border-radius: 1vmax;
  margin-left: 1px;
  box-shadow: 1px 1px 2px black;
}

input {
  color: brown;
}

@media (max-width: 450px) {
  #form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}
.headingTask {
  min-width: 15vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
  background-color: transparent;
}
.slNo {
  min-width: 4vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
.headingDate {
  min-width: 9vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
.headingTime {
  min-width: 5vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
.headingStatus {
  min-width: 10vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
.headingEdit {
  min-width: 3vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
.headingRemove {
  min-width: 5vw;
  border-style: none;
  border-bottom: 2px solid black;
  color: black;
  font-weight: 900;
  border-radius: 1vmax;
}
tr:nth-child(even) {
  background-color: #095859;
  color: azure;
}
